<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/assignment2db?serverTimezone=America/Toronto</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>

		<!-- Set the database dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">create</property>

		<!-- dbcp connection pool configuration -->
		<property name="dbcp.initialSize">5</property>
		<property name="dbcp.maxTotal">20</property>
		<property name="dbcp.maxIdle">10</property>
		<property name="dbcp.minIdle">5</property>
		<property name="dbcp.maxWaitMillis">-1</property>

		<!-- Name the annotated Entity classes -->
		<mapping class="ca.sheridancollege.beans.Voter" />
		<mapping class="ca.sheridancollege.beans.Vote" />


	</session-factory>
</hibernate-configuration>
